# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [109]:
# pip install gmaps

In [110]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [111]:
output_data_file = '../WeatherPy/output_data/cities.csv'

In [112]:
weather_df = pd.read_csv(output_data_file)
data_df = weather_df.drop(columns=['Unnamed: 0'])
data_df

,City,Country,Lat,Lng,Date,Cloudiness,Humidity,Max Temp,Wind Speed
0,Port Elizabeth,ZA,-33.92,25.57,1584227514,95,82,66.20,11.41
1,Rundu,NaN,-17.93,19.77,1584227514,86,83,71.60,3.36
2,Ilulissat,GL,69.22,-51.10,1584227515,98,70,1.40,6.93
3,Albany,US,42.60,-73.97,1584227516,75,48,42.01,16.11
4,Rikitea,PF,-23.12,-134.97,1584227516,0,78,78.26,12.12
...,...,...,...,...,...,...,...,...,...
565,Blyth,GB,55.13,-1.51,1584227967,40,87,51.01,18.34
566,Harper,LR,4.38,-7.72,1584227969,79,94,77.31,4.03
567,Mattru,SL,7.62,-11.83,1584227970,83,84,79.81,3.56
568,Mahbūbābād,IN,17.62,80.02,1584227970,0,86,70.74,1.23
569,Broken Hill,AU,-31.95,141.43,1584227971,18,54,53.60,19.46

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [113]:
gmaps.configure(api_key = g_key)

In [114]:
locations = data_df[['Lat','Lng']]
# locations.dtypes
humidity = data_df['Humidity'].astype(float)
# humidity.dtypes

figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

In [115]:
fig = gmaps.figure(zoom_level=.7,center=(0,0), layout=figure_layout)
# My gmap fig printed in a super weird way, needed to specify the zoom level, center, and layout for a decent fit.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=100, point_radius = 1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [116]:
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.

newdata_df = data_df.loc[(data_df['Max Temp']>70) & 
                        (data_df['Max Temp']<80) & 
                        (data_df['Wind Speed']<10) & 
                        (data_df['Cloudiness']==0), :]
newdata_df = newdata_df.dropna(how='any')
newdata_df.reset_index(inplace=True)
newdata_df.drop(columns=['index'], inplace=True)
newdata_df.head()

,City,Country,Lat,Lng,Date,Cloudiness,Humidity,Max Temp,Wind Speed
0,Les Cayes,HT,18.20,-73.75,1584227348,0,74,79.92,8.59
1,Beïnamar,TD,8.67,15.38,1584227754,0,12,72.34,5.44
2,Taoudenni,ML,22.68,-3.98,1584227784,0,12,70.63,2.93
3,Ouallam,NE,14.32,2.09,1584227843,0,12,78.73,9.46
4,Yārāda,IN,17.65,83.27,1584227943,0,68,79.39,1.92

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [117]:
hotel_df = newdata_df
hotel_df['Hotel Name'] = ''
hotel_df

,City,Country,Lat,Lng,Date,Cloudiness,Humidity,Max Temp,Wind Speed,Hotel Name
0,Les Cayes,HT,18.20,-73.75,1584227348,0,74,79.92,8.59,
1,Beïnamar,TD,8.67,15.38,1584227754,0,12,72.34,5.44,
2,Taoudenni,ML,22.68,-3.98,1584227784,0,12,70.63,2.93,
3,Ouallam,NE,14.32,2.09,1584227843,0,12,78.73,9.46,
4,Yārāda,IN,17.65,83.27,1584227943,0,68,79.39,1.92,
5,Inhambane,MZ,-23.86,35.38,1584227960,0,82,77.63,6.55,
6,Mahbūbābād,IN,17.62,80.02,1584227970,0,86,70.74,1.23,

In [118]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {'radius': 5000,
          'types': 'hotel',
          'keyword': 'hotel',
          'key': g_key}
hotels = []

for index, row in hotel_df.iterrows():
        lat = row['Lat']
        lng = row['Lng']
        params['location'] = f'{lat},{lng}'
        response = requests.get(base_url, params=params).json()
        
        try:
            hotels.append(response['results'][0]['name'])
            
        except IndexError:
            hotels.append(np.nan)

In [119]:
hotel_df['Hotel Name'] = hotels
hotel_df

,City,Country,Lat,Lng,Date,Cloudiness,Humidity,Max Temp,Wind Speed,Hotel Name
0,Les Cayes,HT,18.20,-73.75,1584227348,0,74,79.92,8.59,Hôtel Le Méridien
1,Beïnamar,TD,8.67,15.38,1584227754,0,12,72.34,5.44,NaN
2,Taoudenni,ML,22.68,-3.98,1584227784,0,12,70.63,2.93,NaN
3,Ouallam,NE,14.32,2.09,1584227843,0,12,78.73,9.46,NaN
4,Yārāda,IN,17.65,83.27,1584227943,0,68,79.39,1.92,NaN
5,Inhambane,MZ,-23.86,35.38,1584227960,0,82,77.63,6.55,Hotel Casa Do Capitao
6,Mahbūbābād,IN,17.62,80.02,1584227970,0,86,70.74,1.23,gouri shankar tiffen center

In [124]:
hotel_df = hotel_df.dropna()
hotel_df.reset_index(inplace=True)
hotel_df.drop(columns=['index'], inplace=True)
hotel_df.head()

,City,Country,Lat,Lng,Date,Cloudiness,Humidity,Max Temp,Wind Speed,Hotel Name
0,Les Cayes,HT,18.20,-73.75,1584227348,0,74,79.92,8.59,Hôtel Le Méridien
1,Inhambane,MZ,-23.86,35.38,1584227960,0,82,77.63,6.55,Hotel Casa Do Capitao
2,Mahbūbābād,IN,17.62,80.02,1584227970,0,86,70.74,1.23,gouri shankar tiffen center

In [121]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [122]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…